@font-face {
    font-family: pacifico;
    src: url('fonts/pacifico/pacifico.ttf');
}
@font-face {
    font-family: OstrichSans;
    src: url('fonts/ostrich-sans/ostrich-regular.ttf');
}
@font-face {
    font-family: OstrichSanslight;
    src: url('fonts/ostrich-sans/ostrich-light.ttf');
}
body
{
    margin: 0;
    padding:0;
    
}

#header
{
    margin:0;
    padding:0;
    position: fixed;
    background-color: #00b2cc ;
    width: 100%;
    height:50px;
    top:0;
    left:0;
    z-index:3;
}

#down {
 text-align: center;
    width:50px;
    height:50px;
    z-index: 2;
position: absolute;
   top: 85%;
   left: 50%;
   margin-top: -25px; /* Half the height */
   margin-left: -25px; /* Half the width */
}

#menu
{
   font-size: 20px;
    padding:0;
    display: inline-block;
    padding-bottom:0;
    margin-bottom: 0;
    vertical-align: bottom;
    position: relative;
    padding-left: 5px;
    top:-4.8px;
    left:1400px;
    font-family: OstrichSans, sans-serif;
    font-style: normal;
    color: #ebda86 ;
}
#title
{
    position:fixed;
    position: absolute;
    right: 1600px; 
    left: 0; 
    margin: 0 auto;
    padding:0;
    height: 30px;
    padding: 10px;
}
#logo
{
    text-align: center;
    width:200px;
    height:200px;
    z-index: 2;
position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -100px; /* Half the height */
   margin-left: -100px; /* Half the width */
    
}
#slide_1
{
    margin: 0;
    padding: 0px 0 0px 0;
    background-size: cover;
	text-align:center;
	height:100vh;
    z-index: 5;
    background-color: white;
    position: absolute;
    width: 100%;
    margin-bottom: 100vh;
}
#fade
{
-webkit-animation-name:fadein;
       animation: fadein 2s;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;    
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}






/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {padding-top: 25%;}
    100% {padding-top: 18%;}
}

/* Standard syntax */
@keyframes example {
   0%   {padding-top: 25%;}
    100% {padding-top: 18%;}  
}
@-moz-keyframes example{
    0%   {padding-top: 25%;}
    100% {padding-top: 18%;}
}

a   
{
   text-decoration: none;
 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
    
   
}
#inv
{

    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:2;
}
#slide_2
{
    background: #7ad0b6 ;
    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:-1;
}
#content
{
    width:70%;
    height:70%;
    color:white;
    font-weight:900;
    font-family: OstrichSanslight, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    margin-top: 10%;
    padding:0;
    z-index:2;
    
}
#content_2
{
    width:70%;
    height:70%;
    color:#808080;
    font-weight:900;
    font-family: OstrichSanslight, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    margin-top: 10%;
    padding:0;
    z-index:2;
    
}
#slide_3
{
    background: white;
    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:2;
}
#prices
{
    border:1px solid #7ad0b6;
}
#slide_4
{
    background: #7ad0b6 ;
    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:2;
}
#slide_5
{
    background: White;
    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:2;
}

#slide_6
{
    background: #7ad0b6 ;
    margin: 0 ;
    overflow: hidden;
    padding: 0px 0 0 0;
    background-size: cover;
	height:100vh;
	position:relative;
    z-index:2;
}
#margin_edit
{
  margin-bottom:0;  
}
#list
{
    margin:0;
    padding:0;
    text-align: left;
    display: block;
    margin-left:20%;
    border: 0;
    
}
#line
{
    width:20%;
    margin-left: 40%;
    height:0.5px;
    background-color: #7ad0b6;
        height: 1px;
    border: 0;
}
a {
    text-decoration: none; 
  color:black;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
